<div class="container">
    <div class="row">
        <div class="col-md-5 col-sm-6">
            <app-form [setUserRecord]="userRecord" (emitRefreshList)="refreshList=$event"></app-form>
        </div>
        <div class="col-md-6 tabt mt-2">
            <a class="btn btn-link" routerLink="/slicing">GoTo Task 2</a>
            <app-list (listUpdated)="refreshList=$event" (editUserRecord)="userRecord=$event" [refreshList]="refreshList"></app-list>
        </div>    
    </div>
</div>