<table class="table">
    <tbody>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        <tr *ngFor="let user of usersList">
            <td>{{ user.firstName + user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td><button class="btn btn-primary" (click)="editUser(user)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(user._id)">Delete</button></td>
            <td><button class="btn btn-secondary" (click)="viewUser(user)">View</button></td>
        </tr>
        <tr *ngIf="!usersList?.length">
            <td colspan="6">No Record Found</td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<ng-template #viewUserInfo let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">View User Info</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <label>Name</label>
                <p class="text-muted">{{ viewUserRecord.firstName }}</p>
            </div>
            <div class="col-md-6">
                <label>Email</label>
                <p class="text-muted">{{ viewUserRecord.email }}</p>
            </div>
            <div class="col-md-6">
                <label>Phone Number</label>
                <p class="text-muted">{{ viewUserRecord.phoneNumber }}</p>
            </div>
            <div class="col-md-6">
                <label>Address</label>
                <p class="text-muted">{{ viewUserRecord.address1 + ',' + viewUserRecord.address2 }}</p>
            </div>
            <div class="col-md-6">
                <label>City</label>
                <p class="text-muted">{{ viewUserRecord.city }}</p>
            </div>
            <div class="col-md-6">
                <label>State</label>
                <p class="text-muted">{{ viewUserRecord.state }}</p>
            </div>
            <div class="col-md-6">
                <label>Zip Code</label>
                <p class="text-muted">{{ viewUserRecord.zipCode }}</p>
            </div>
            <div class="col-md-6">
                <label>Qualification</label>
                <p class="text-muted">{{ viewUserRecord.qualification }}</p>
            </div>
            <div class="col-md-6">
                <label>Comments</label>
                <p class="text-muted">{{ viewUserRecord.comments }}</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
    </div>
  </ng-template>