<div>
    <div class="row">
        <div class="col-md-6">
            <h1>
                We Take Care <br>
                <span class="position-relative">Marketing
                    <span class="position-absolute bg-sec"></span>
                </span> <br>
                Things
            </h1>
            <button class="plan-btn my-5 text-white">Pick a Plan</button>
        </div>
        <div class="col-md-6">
            <img src="../../../assets/Images/Illustration.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p>BLOG</p>
        </div>
        <div class="col-6"></div>
        <div class="col-6">
            <h2>
                Explore Marketing Tips
            </h2>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-sm-12 col-md-4" *ngFor="let user of usersList">
            <div class="card-sec">
                <div class="position-relative">
                    <img [src]="user.cardImage" [alt]="user.cardImage" class="w-100">
                    <div class="position-absolute userInfo d-flex align-items-center justify-content-around p-1 px-3">
                        <img [src]="user.userImage" [alt]="user.userImage">
                        <div>
                            <p class="m-0">{{ user.name }}</p>
                            <small>{{ user.role }}</small>
                        </div>
                    </div>
                </div>
                <p class="my-3">{{ user.title }}</p>
                <small>{{ user.content }}</small>
            </div>
        </div>
    </div>
</div>