h1 {
    font-family: var(--prime-font);
    color: var(--prime-color);
    font-size: 64px;
    letter-spacing: 0.45px;
    font-weight: bold;

    .bg-sec {
        background-color: #E2E0FF;
        width: 306px;
        height: 31px;
        bottom: 0;
        margin-left: -311px;
        z-index: -1;
    }
}

.plan-btn {
    width: 144px;
    height: 52px;
    background: var(--info-color) 0% 0% no-repeat padding-box;
    font-family: var(--secon-font);
    border: 1px solid var(--info-color);
}

p {
    font-family: var(--prime-font);
    color: var(--info-color);
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}

h2 {
    font-family: var(--prime-font);
    color: var(--prime-color);
    font-size: 32px;
    letter-spacing: 0.5px;
    font-weight: bold;
}

.card-sec {
    // width: 295px;

    p {
        font-family: var(--prime-font);
        color: var(--prime-color);
        font-size: 20px;
        letter-spacing: 0.42px;
        font-weight: bold;
    }

    small {
        letter-spacing: 0.24px;
        font-size: 12px;
        font-family: var(--secon-font);
        color: var(--secon-color);
    }

    .userInfo {
        background: #ffffff 0% 0% no-repeat padding-box;
        width: 151px;
        bottom: 0;
        img {
            width: 32px;
            height: 32px;
        }
        div {
            line-height: 0.6;
            p {
                letter-spacing: 0.25px;
                font-size: 12px;
                font-family: var(--prim-font);
                color: var(--prime-color);
            }
            small {
                letter-spacing: 0.25px;
                font-size: 8px;
                font-family: var(--secon-font);
                color: var(--gr-color);
            }
        }
    }
}
