<div class="container my-5">
    <div>
        <app-header></app-header>
    </div>
    <div class="my-5">
        <app-wrapper></app-wrapper>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>