<h3 class="my-3">BIO DATA</h3>
<form [formGroup]="userForm" #userFormDirective="ngForm" (ngSubmit)="submit(userFormDirective)">
    <div class="form-group">
        <label class="reg_txt">Name <span class="text-danger">*</span></label>
        <div class="controls form-inline justify-content-between">
            <div>
                <input type="text" class="form-control"
                    [ngClass]="{'border-danger': (userForm?.controls?.firstName?.touched && userForm?.controls?.firstName?.errors) || (userId && userForm?.controls?.firstName?.errors)}"
                    formControlName="firstName" placeholder="First">
            </div>
            <div>
                <input type="text" class="form-control"
                    [ngClass]="{'border-danger': (userForm?.controls?.lastName?.touched && userForm?.controls?.lastName?.errors) || (userId && userForm?.controls?.lastName?.errors)}"
                    formControlName="lastName" placeholder="Last">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="reg_txt">Email <span class="text-danger">*</span></label>
        <div>
            <input type="email" [ngClass]="{'border-danger': (userForm?.controls?.email?.touched && userForm?.controls?.email?.errors) || (userId && userForm?.controls?.email?.errors)}" class="form-control" formControlName="email" id="" placeholder="E-mail">
        </div>
    </div>

    <div class="form-group">
        <label class="reg_txt">Phone Number <span class="text-danger">*</span></label>
        <div class="wsite-form d-flex w-100">
            <div class="w-25">
                <input type="text" formControlName="phoneNumber1" class="form-control"
                    [ngClass]="{'border-danger': (userForm?.controls?.phoneNumber1?.touched && userForm?.controls?.phoneNumber1?.errors) || (userId && userForm?.controls?.phoneNumber1?.errors)}"
                    placeholder="91">
            </div>
            <div class="w-75">
                <input type="text" formControlName="phoneNumber2" class="form-control"
                    [ngClass]="{'border-danger': (userForm?.controls?.phoneNumber2?.touched && userForm?.controls?.phoneNumber2?.errors) || (userId && userForm?.controls?.phoneNumber2?.errors)}"
                    placeholder="9876328743">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="reg_txt">Address <span class="text-danger">*</span></label>
        <div>
            <input type="text"
                [ngClass]="{'border-danger': (userForm?.controls?.address1?.touched && userForm?.controls?.address1?.errors) || (userId && userForm?.controls?.address1?.errors)}"
                class="form-control mb-3" formControlName="address1" placeholder="Line 1">
        </div>
        <div>
            <input type="text"
                [ngClass]="{'border-danger': (userForm?.controls?.address2?.touched && userForm?.controls?.address2?.errors) || (userId && userForm?.controls?.address2?.errors)}"
                class="form-control" formControlName="address2" placeholder="Line 2">
        </div>
    </div>

    <div class="form-group">
        <div class="controls form-inline justify-content-between">
            <input type="text"
                [ngClass]="{'border-danger': (userForm?.controls?.city?.touched && userForm?.controls?.city?.errors) || (userId && userForm?.controls?.city?.errors)}"
                class="form-control" formControlName="city" placeholder="City">
            <input type="text"
                [ngClass]="{'border-danger': (userForm?.controls?.state?.touched && userForm?.controls?.state?.errors) || (userId && userForm?.controls?.state?.errors)}"
                class="form-control" formControlName="state" placeholder="State">
        </div>
    </div>

    <div class="form-group">
        <div class="controls form-inline justify-content-between">
            <input type="text"
                [ngClass]="{'border-danger': (userForm?.controls?.zipCode?.touched && userForm?.controls?.zipCode?.errors) || (userId && userForm?.controls?.zipCode?.errors)}"
                class="form-control" formControlName="zipCode" placeholder="Zip Code">
            <input type="text"
                [ngClass]="{'border-danger': (userForm?.controls?.country?.touched && userForm?.controls?.country?.errors) || (userId && userForm?.controls?.country?.errors)}"
                class="form-control" formControlName="country" placeholder="Country">
        </div>
    </div>

    <div class="form-group">
        <label class="reg_txt">Write Your qualification <span class="text-danger">*</span></label>
        <input type="text"
            [ngClass]="{'border-danger': (userForm?.controls?.qualification?.touched && userForm?.controls?.qualification?.errors) || (userId && userForm?.controls?.qualification?.errors)}"
            class="form-control" formControlName="qualification" id="" placeholder="">
    </div>


    <div class="form-group">
        <label class="reg_txt">Comment <span class="text-danger">*</span></label>
        <textarea class="form-control"
            [ngClass]="{'border-danger': (userForm?.controls?.comments?.touched && userForm?.controls?.comments?.errors) || (userId && userForm?.controls?.comments?.errors)}"
            formControlName="comments"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success w-100">Submit</button>
    </div>
</form>