/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {

    //Font Family
    --prime-font: normal normal bold 64px/90px Merriweather;
    --secon-font: normal normal normal 14px/20px Muli;

    //Colors
    --prime-color  : #1E202F;
    --secon-color  : #888990;
    --third-color  : #82868A;
    --info-color   : #4099F1;
    --bl-color     : #212B36;
    --gr-color     : #B2B2B2;
}
