<div class="row">
    <div class="col-md-6">
        <div class="w-25">
            <img src="../../../assets/Images/logo.png" alt="" class="w-100">
        </div>
    </div>
    <nav class="col-md-6">
        <ul class="d-flex justify-content-between align-items-center">
            <li>
                Why Us
            </li>
            <li>
                Marketing Platform
            </li>
            <li>
                Pricing
            </li>
            <li>
                <a class="sign-btn">Sign Up It's Free</a>
            </li>
        </ul>
    </nav>
</div>