.row {
    nav {
        li {
            list-style: none;
            font-family: var(--secon-font);
            color: var(--prime-color);
            font-size: 14px;

            .sign-btn {
                padding: 12px;
                width: 132px;
                height: 42px;
                border: 1px solid var(--info-color);
                color: var(--info-color);
            }
        }
    }
}
