.row {
    nav {
        li {
            list-style: none;
            font-family: var(--secon-font);
            color: var(--bl-color);
            font-size: 16px;
        }
    }

    .col-md-5 {
        p {
            letter-spacing: 0.5px;
            font-family: var(--secon-font);
            color: var(--third-color);
            font-size: 16px;

            span {
                font-size: 20px;
            }
        }
    }
}