<div class="row align-items-center justify-content-between">
    <div class="col-md-6">
        <nav>
            <ul class="d-flex align-items-center justify-content-between p-0">
                <li>
                    <img src="../../../assets/Images/logo.png" alt="" class="w-100">
                </li>
                <li>
                    Terms & Condition
                </li>
                <li>
                    Privacy Policy
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-5">
        <p class="d-flex align-items-center float-right"> <span>®</span>
            2019 Company name. All rights reserved.</p>
    </div>
</div>